@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue-custom: #0683ffc9;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
}

.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-in.show {
  opacity: 1;
}

.blinking-cursor {
  font-weight: 100;
  font-size: 24px;
  color: black;
  -webkit-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes blink {

  from,
  to {
    color: transparent;
  }

  50% {
    color: black;
  }
}

@-webkit-keyframes blink {

  from,
  to {
    color: transparent;
  }

  50% {
    color: black;
  }
}

.photo-profile:hover {
  background-color: rgba(0, 94, 255, 0.415);
  box-shadow: 0px 0px 90px rgba(0, 94, 255, 0.692);
}

.header-title {
  font-family: optima, sans-serif;
  font-size: 25px;
  font-weight: bold;
}

/* animate shake  */
.shake {
  animation: shake 2s ease infinite;
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

/* animate flash */
.flash {
  animation: flash 800ms ease infinite alternate;
}

@keyframes flash {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* animate bounce */
.bounce:hover {
  animation: bounce 3s ease 1;
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-15px);
  }
}

/* nav  */
nav ul {
  list-style: none;
  align-items: center;
}

nav li {
  display: inline-block;
  padding: 11px 10px 11px 10px;
  border-bottom: 3px solid #ffffff00;
}

nav li:hover {
  color: var(--blue-custom);
}

nav li .active {
  position: relative;
  padding: 10px 10px 19px 10px;
  border-radius: 0;
  border-bottom: 3px solid var(--blue-custom);
  font-weight: bold;
}

nav li .active:hover {
  color: var(--blue-custom);
}

@keyframes active-nav {
  0% {
    transform: translateX(-100%) scale(0.5);
  }

  100% {
    transform: translateX(0px) scale(1);
  }
}

.background-animate {
  background-size: 400%;
  -webkit-animation: AnimationName 3s ease infinite;
  -moz-animation: AnimationName 3s ease infinite;
  animation: AnimationName 3s ease infinite;
}

@keyframes AnimationName {

  0%,
  100% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: default;
}

.tooltip .tooltip-text {
  visibility: hidden;
  padding: 0.25em 0.5em;
  background-color: var(--blue-custom);
  color: #fff;
  text-align: center;
  border-radius: 0.25em;
  white-space: nowrap;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 100%;
  transition-property: visibility;
  transition-delay: 0s;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  transition-delay: 0.3s;
}
